.close-icon {
  fill: $light-grey;
  height: 1.5vw;
  width: 1.5vw;
  &:hover {
    cursor: pointer;
  }
}

@media only screen and (max-width: $landscape-query) and (orientation: landscape) {
  .close-icon {
    height: 3vw;
    width: 3vw;
  }
}

@media only screen and (max-width: $portrait-query) and (orientation: portrait) {
  .close-icon {
    height: 3vh;
    width: 3vh;
  }
}
