.close-icon {
  fill: $light-grey;
  height: 1.7vw;
  width: 1.7vw;
  transition: all 0.2s ease-in-out;
  &:hover {
    cursor: pointer;
    fill: $hot-pink;
  }
}

@media only screen and (max-width: $landscape-query) and (orientation: landscape) {
  .close-icon {
    height: 3vw;
    width: 3vw;
    &:hover {
      cursor: pointer;
      fill: $light-grey;
      height: 3vw;
      transform: none;
      width: 3vw;
    }
  }
}

@media only screen and (max-width: $portrait-query) and (orientation: portrait) {
  .close-icon {
    height: 3vh;
    width: 3vh;
    &:hover {
      cursor: pointer;
      fill: $light-grey;
      height: 3vh;
      transform: none;
      width: 3vh;
    }
  }
}
