.title-container {
  position: relative;
}

.title-text {
  border-bottom: 2px solid $light-grey;
  color: $light-grey;
  font-size: 1.78vw;
  letter-spacing: 0.1vw;
  margin: 0;
  margin-bottom: 2vw;
  padding-bottom: 4px;
  width: 100%;
}

.title-icon-container {
  position: absolute;
  right: 0;
  top: .6vw;
}

@media only screen and (max-width: $landscape-query) and (orientation: landscape) {
  .title-text {
    font-size: 3vw;
    letter-spacing: 0.1vw;
  }

  .title-icon-container {
    top: .4vw;
  }
}

@media only screen and (max-width: $portrait-query) and (orientation: portrait) {
  .title-text {
    font-size: 3vh;
    letter-spacing: 0.1vh;
  }

  .title-icon-container {
    top: .9vh;
  }
}
