.form-background {
  background-color: $transparent-chrome;
  height: 100%;
  opacity: 1.0;
  position: absolute;
  width: 100%;
  top: 0;
  transform: translateY(0);
  transition: all 0.3s ease-out;
  visibility: visible;
}

.form-background-hidden {
  opacity: 0.0;
  transform: translateY(20vh);
  transition: all 0.1s ease-in;
  visibility: none;
}

.form-container {
  background-color: $transparent-black;
  height: auto;
  margin: 12% 0 0 35%;
  position: relative;
  width: 30%;
}

.form-inner-container {
  height: 100%;
  margin: auto;
  padding: 10% 0;
  width: 80%;
}

@media only screen and (max-device-width: 736px) and (orientation: landscape) {
  .form-container {
    margin: 16% 0 0 10%;
    width: 80%;
  }
}

@media only screen and (max-device-width: 736px) and (orientation: portrait) {
  .form-container {
    margin: 10% 0 0 10%;
    width: 80%;
  }
}
