.checkbox-icon {
  height: 1.5vw;
  width: 1.5vw;
  transition: all 0.1s linear;
}

.outline-icon {
  fill: $slate-grey;
}

.check-icon {
  fill: $light-grey;
}

@media only screen and (max-width: $portrait-query) and (orientation: portrait) {
  .checkbox-icon {
    height: 2.4vh;
    width: 2.4vh;
  }
}
