.options-container {
  height: 13vw;
  margin: 1vw 0;
  opacity: 1.0;
  position: relative;
  transition: all 0.2s ease-in-out, opacity 0.1s ease-in-out 0.1s;
  visibility: visible;
  width: 100%;

  &-hidden {
    opacity: 0.0;
    visibility: collapse;
  }
}

@media only screen and (max-width: $landscape-query) and (orientation: landscape) {
  .options-container {
    height: auto;
    margin-left: auto;
    width: 40%;
    &-hidden {
      height: 0;
      opacity: 0.0;
      visibility: collapse;
    }
  }

  .options-subcontainer {
    width: 100%;
  }
}

@media only screen and (max-width: $portrait-query) and (orientation: portrait) {
  .options-container {
    height: auto;
    margin-top: 2vh;
    padding-bottom: 2%;
    &-hidden {
      height: 0;
      opacity: 0.0;
      visibility: collapse;
    }
  }
}
