.form-input-container {
  align-items: center;
  display: flex;
  flex-direction: row;
  padding-top: 2px;
  padding-left: 1vw;

  &:hover {
    .input-text {
      color: $light-grey;
    }
    .outline-icon {
      fill: $light-grey;
    }
  }

  &-disabled {
    .input-text, :hover {
      color: $dark-slate-grey;
    }
    .outline-icon, :hover {
      fill: $dark-slate-grey;
    }
    &:hover {
      cursor: not-allowed;
      .outline-icon {
        fill: $dark-slate-grey;
        cursor: not-allowed;
      }
      .input-text {
        color: $dark-slate-grey;
      }
    }
  }
}

.input-text {
  color: $slate-grey;
  font-size: 1.2vw;
  letter-spacing: 0.1vw;
  margin: 0;
  margin-left: 0.4vw;
  padding-bottom: 6px;
  transition: all 0.3s linear;

  &-disabled {
    font-size: 3.2vw;
  }
}

.input-text-selected {
  color: $light-grey;
}

@media only screen and (max-width: $landscape-query) and (orientation: landscape) {
  .input-text {
    font-size: 1.6vw;
    padding-bottom: 0;
    padding-top: 2px;
  }
}

@media only screen and (max-width: $portrait-query) and (orientation: portrait) {
  .input-text {
    font-size: 2vh;
    letter-spacing: 0.1vh;
    padding-top: 2px;
  }
}
