.form-select {
  list-style: none;
  margin: 0;
  padding-left: 0;
  position: relative;
  transition: background-color 0.3s ease-in 0.1s;
  width: 100%;
  cursor: pointer;
}

.add-background {
  background-color: black;
}

.closed {
  background: none;
  opacity: 0.0;
  position: absolute;
  transform: translateY(-3vh);
  transition: all 0.2s ease-out, translateY 0.1s linear;
  visibility: collapse;
  width: 100%;
  z-index: -1;
}

.open {
  opacity: 1;
  max-height: auto;
  position: absolute;
  transition-delay: 0s;
  transition: all 0.3s ease-in;
  transform: translateY(0);
  visibility: visible;
  width: 100%;
  z-index: 1;
}

.option-text {
  background: black;
  color: $slate-grey;
  font-size: 1.4vw;
  letter-spacing: 0.1vw;
  padding: 1vw 1vw;
  transition: 0.4s;
  &:hover {
    color: $dark-slate-grey;
    box-shadow: inset 0 -6em 0 0 $light-grey;
    .select-icon {
      fill: $dark-slate-grey;
    }
  }
}

.default-option {
  align-items: center;
  background-color: black;
  color: $light-grey;
  display: flex;
  position: relative;
  z-index: 2;
}

.select-icon {
  fill: $light-grey;
  height: 1.6vw;
  position: absolute;
  right: 12px;
  transition: all 0.1s linear;
  width: 1.6vw;
  &-open {
    transform: rotate(180deg);
  }
}

@media only screen and (max-width: $landscape-query) and (orientation: landscape) {
  .option-text {
    font-size: 2vw;
  }

  .select-icon {
    height: 3vw;
    width: 3vw;
  }
}

@media only screen and (max-width: $portrait-query) and (orientation: portrait) {
  .option-text {
    font-size: 2.2vh;
    letter-spacing: 0.1vh;
    padding: 2vh;
  }

  .select-icon {
    height: 6vw;
    width: 6vw;
  }
}
