.form-button {
  background-color: black;
  border: 2px solid $light-grey;
  color: $light-grey;
  font-size: 1.78vw;
  letter-spacing: 0.1vw;
  padding: 1vw 0;
  position: relative;
  transition: all 0.3s linear;
  width: 100%;
  &:hover {
    box-shadow:
      inset 300px 0 0 0 $chrome,
      inset -300px 0 0 0 $chrome,
      inset 0 100px 0 0 $transparent-chrome,
      inset 0 -100px 0 0 $transparent-chrome;
    color: $transparent-black;
    cursor: pointer;
  }
  &-hidden {
    visibility: none;
  }
}

.form-button-container {
  opacity: 1.0;
  transition: all 0.3s linear;
  visibility: visible;
}

.hide-button {
  opacity: 0.0;
  transition: all 0.1s linear;
  visibility: collapse;
}

@media only screen and (max-width: $landscape-query) and (orientation: landscape) {
  .form-button {
    font-size: 3vw;
    letter-spacing: 0.1vw;
  }
}

@media only screen and (max-width: $portrait-query) and (orientation: portrait) {
  .form-button {
    font-size: 2.78vh;
    letter-spacing: 0.1vh;
  }
}
