.info-icon {
  fill: $light-grey;
  height: 1.7vw;
  width: 1.7vw;
  transition: all 0.1s linear;
  &:hover {
    cursor: pointer;
    fill: $hot-pink;
    // height: 2vw;
    // transform: translateX(0.2vw) translateY(-0.2vw);
    // width: 2vw;
  }
}

@media only screen and (max-width: $landscape-query) and (orientation: landscape) {
  .info-icon {
    height: 3vw;
    width: 3vw;
    &:hover {
      cursor: pointer;
      fill: $light-grey;
      height: 3vw;
      transform: none;
      width: 3vw;
    }
  }
}

@media only screen and (max-width: $portrait-query) and (orientation: portrait) {
  .info-icon {
    height: 3vh;
    width: 3vh;
    &:hover {
      cursor: pointer;
      fill: $light-grey;
      height: 3vh;
      transform: none;
      width: 3vh;
    }
  }
}
