.toggle-icon-container {
  height: 2.6vw;
  margin-left: auto;
  margin-right: 2vw;
  position: sticky;
  top: 2vw;
  transition: all linear .2s;
  width: 2.6vw;
  z-index: 3;
  &:hover {
    top: 1.9vw;
  }
}

.toggle-icon {
  fill: $slate-grey;
  height: 2.4vw;
  opacity: 0.8;
  transition: all linear .2s;
  transform: translateX(0);
  width: 2.4vw;
  &:hover {
    cursor: pointer;
    fill: $dark-slate-grey;
    height: 2.6vw;
    transform: translateX(-0.2vh);
    width: 2.6vw;
  }

  &-hidden {
    fill: none;
    opacity: 0.0;
    transform: translateX(3vh);
    visibility: collapse;
    &:hover {
      fill: none;
    }
  }
}

@media only screen and (max-device-width: $landscape-query) and (orientation: landscape) {
  .toggle-icon {
    height: 4vw;
    width: 4vw;
    
    &-container {
      height: 4vw;
      width: 4vw;
    }
  }
}

@media only screen and (max-device-width: $portrait-query) and (orientation: portrait) {
  .toggle-icon-container {
    height: 6vh;
    margin-right: 2vh;
    top: 2vh;
    width: 6vh;
  }

  .toggle-icon {
    height: 6vh;
    width: 6vh;
  }
}
